@model RimrockMVC.Models.ViewModels.Search<RimrockMVC.Models.APImodels.Retailer>

@{
    ViewData["Title"] = "Browse Retailers";
}

<!--TODO: Test drop-down-->
<form method="get">
    <label asp-for="region">Select a region</label>
    <select name="region">
        <option value="0">Remove Filter</option>
        @{
            foreach (var region in Model.Regions)
            {
                if (region.ID == Model.FilterOption)
                {
                    <option value="@region.ID" selected="selected">@region.Name</option>
                }
                else
                {
                    <option value="@region.ID">@region.Name</option>
                }
            }
        }
    </select>
    <input type="submit" value="Filter" />
</form>

@if (Model.Results.Count == 0)
{
    <h1>No retailers found!</h1>
}
else
{
    var favIds = ViewData["FavIds"] as List<int>;

    <ul>
        @foreach (var retailer in Model.Results)
        {
        <li class="listcard">
            <h4>@retailer.Name</h4>

            <p>Specializes In Equipment For: @retailer.Specialty</p>
            <!--TODO: Don't show favorite button if retailer is already favorited-->
            @if (ViewData["User"] != null && !Model.UserFavorites.Contains(retailer.ID))
            {
                <a onclick="addFavorite(@retailer.ID);" class="favadd">Add to favorites</a>
            }
        </li>
        }
    </ul>
}

<script>
    $(document).ready(function () {
        $('.favadd').click(function (e) {
            e.preventDefault();
            $(this).remove();
        });
    });

    function addFavorite(id) {
        $.ajax({
            type: 'POST',
            url: '/favorite/addfavretailer',
            datatype: 'json',
            data: { retailerId: id },
            error: function () {
                alert('Error');
            }
        });
    }
</script>