@model RimrockMVC.Models.ViewModels.Favorites
@{
    ViewData["Title"] = "Favorites";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
</head>
<body>
    <div>
        <ul class="favoriteList">
            @{ 
                foreach(var loc in Model.Locations)
                {
                    <li class="listcard" id="loc-@loc.Id">
                        <h5>@loc.Name</h5>
                        <p>@loc.Cost</p>
                        <a onclick="removeFavLocation(@loc.Id);" class="remove">Remove favorite</a>
                    </li>
                }
            }
        </ul>
        <ul class="favoriteList">
            @{
                foreach (var ret in Model.Retailers)
                {
                    <li class="listcard" id="ret-@ret.Id">
                        <h5>@ret.Name</h5>
                        <p>@ret.Specialty</p>
                        <a onclick="removeFavRetailer(@ret.Id);" class="remove">Remove favorite</a>
                    </li>
                }
            }
        </ul>
    </div>

    <script>
    function removeFavLocation(id) {
        $('#loc-' + id).remove();
        $.ajax({
            type: 'DELETE',
            url: '/favorite/removefavlocation',
            datatype: 'json',
            data: { favLocationId: id },
            error: function () {
                alert('Error');
            }
        });
    }

    function removeFavRetailer(id) {
        $('#ret-' + id).remove();
        $.ajax({
            type: 'DELETE',
            url: '/favorite/removefavretailer',
            datatype: 'json',
            data: { favRetailerId: id },
            error: function () {
                alert('Error');
            }
        });
    }
    </script>
</body>
</html>
