<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!--Reset CSS-->
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css" />

    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Rakkas|Poppins" rel="stylesheet">

    <!--Styles-->
    <link rel="stylesheet" href="~/Style.min.css" />
</head>
@{ 
    var controller = ViewContext.RouteData.Values["controller"].ToString();
}
<body>
    <header>
        <div id="logo-area">
            <div id="sidebar-toggle">
                <i class="fas fa-bars"></i>
            </div>
            <div id="logo">RimRock</div>
        </div>
        <!--I can't seem to get this to show up-->
    </header>
    <main>
        <div id="sidebar">
            <nav>
                <ul>
                    @if (TempData.Peek("User") is null && controller != "Home")
                    {
                        <li id="homebtn">
                            <a href="@Url.Action("Index","Home")">Log In</a>
                        </li>
                    }

                    else if (controller != "Favorite")
                    {
                        <!--add log out button?-->
                        <li id="favbtn">
                            <a href="@Url.Action("Index","Favorite")">My Favorites</a>
                        </li>
                    }

                    @if (controller != "SearchLocation")
                    {
                        <li id="locbtn">
                            <a href="@Url.Action("Index","SearchLocation")">Locations</a>
                        </li>
                    }
                    @if (controller != "SearchRetailer")
                    {
                        <li id="retbtn">
                            <a href="@Url.Action("Index","SearchRetailer")">Retailers</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div id="renderbody">
            @RenderBody()
        </div>
    </main>
    <script>
        $(document).ready(function () {
            $('#sidebar-toggle').click(function () {
                $('#sidebar').toggle();
            })
        });
    </script>
</body>
</html>
